<%= link_to recipes_path(q: params[:q]), class: "text-indigo-500" do %>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 -ml-1">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
</svg>
<% end %>

<% cache(@recipe) do %>
  <h1 class="text-3xl mt-6"><%= @recipe.data['title'] %></h1>

  <ul class="mt-8 mb-8">
  <% @recipe.data['ingredients'].each do |i| %>
  <li><%= i['text'] %></li>
  <% end %>
  <div>
  </ul>

  <% @recipe.data['instructions'].each do |i| %>
  <p class="mb-3 text-lg"><%= i['text'] %><p>
  <% end %>

<% end %>
<div class="block w-64 -ml-20 mt-8">
<%= render '/recipes/edamam' %>
</div>