<div class="flex flex-col min-h-screen items-center pt-20 pb-20 bg-gray-100">
<% if @appear %>
  <p>You appear to be visiting from <%= @appear %>.</p>
<% end %>

<%=form_tag request.path, method: :get, class: "mt-5 sm:flex sm:items-center" do %>
  <div class="w-full sm:max-w-xs">
    <%= text_field_tag :q, params[:q] || @appear, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>


<%= submit_tag "Go", class: "mt-3 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" %>
<% end %>
<ul class="divide-y divide-y-gray-200">
<% @recipes.each do |recipe| %>
<li class="p-4"><%= recipe.data["title"] %></li>
<% end %>
</ul>
</div>
